@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Roboto', system-ui, sans-serif;
  background-color: #FDFDFD;
  color: #333333;
}
